@using BE.BE.Treatments
@model IEnumerable<BE.BE.Booking>

@{
    ViewBag.Title = "Index";
}

<br/>
<div>
    
    <p>
        @Html.ActionLink("Book time", "Create", null, new {@class = "btn btn-primary"})
    </p>
</div>


@if (Model.Any())
{
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Therapist)
            </th>
            <th>
                Duration
            </th>
            <th>
                Total price
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    <ul>
                        @foreach (Treatment treatment in item.Treatments)
                    {
                         <li>@treatment.Name</li>   
                    }
                    </ul>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Therapist.Name)
                </td>
                <td>
                    @item.GetDuration().TotalMinutes min
                </td>
                <td> @item.GetPrice().ToString("C")</td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    
                    @using (Html.BeginForm("Delete", "Booking"))
                        {
                        @Html.Hidden("id", item.Id)
                        <input type="submit" class="btn btn-default btn-xs btn-danger" value="Slet" />
                        }
                </td>
            </tr>
        }

    </table>
}
else
{
    {
        <p class="text-center" style="font-size: 30px"> You have not booking at the moment </p>
    }
}

