@model IEnumerable<BE.BE.Treatments.Treatment>

@{
    ViewBag.Title = "Treatments";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3> Alle behandlinger</h3>
    </div>
    <div class="panel-body">
        <div>
            <p>
                @using (Html.BeginForm("Index","Treatment",FormMethod.Get))
                {
                    @Html.DropDownList("treatmentType",
                    (SelectList) ViewBag.TypeList, "All",
                    new {onchange = "javascript:this.form.submit()"})
                }
                
            </p>
        </div>
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                @*<th class="text-right"> ID </th>*@
                <th class="text-center">Navn</th>
                <th class="text-left">Beskrivelse</th>
                <th class="text-center">Pris</th>
                <th class="text-center">Varighed</th>
                <th class="text-center">Actions</th>
            </tr>
            @foreach (var treatment in Model)
            {
                <tr>
                    @*<td class="text-right"> @treatment.Id</td>*@
                    <td>@Html.ActionLink(treatment.Name, "Edit", new {treatment.Id})</td>
                    <td class="text-left"> @treatment.Description</td>
                    <td class="text-center"> @treatment.Price.ToString("C")</td>
                    <td class="text-center"> @(treatment.Duration.Hours*60 + treatment.Duration.Minutes) min</td>
                    <td class="text-center">
                      @Html.ActionLink("Book","Create","Booking",null,new{@class="btn btn-default btn-xs btn-success"})
                      @using (Html.BeginForm("Delete", "Treatment"))
                        {
                            @Html.Hidden("id", treatment.Id)
                            <input type="submit" class="btn btn-default btn-xs btn-danger" value="Slet" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add new", "Create", null, new { @class = "btn btn-default" })
    </div>
</div>